---
layout: default
title: Alan Rynne
description: Welcome to my personal website!
bg: '/assets/img/triangular-gridshell-inside-Andres-Flajszer.jpg'
bg-author: "Andres Flajszer"
bg-author-link: "http://www.andresflajszer.com"
---

<div class=post-content>
	<div class=intro-alt>
		<p>
			Hi! I'm Alan Rynne, a Building Engineer specialized in Parametric Architecture & Computational Design.
			I am also a self-taught programmer & web-designer, and an overall tech geek!
		</p>
		<p><i class="fas fa-arrow-down"></i></p>
	</div>

	

    <div class=main-section>
		<h2>Skills</h2>
		<hr>
        <div class=img-grid>
            {% for skill in site.skills %}
            {% capture title %}{% if skill.title %} {{ skill.title }}{% endif %}  {% endcapture %}
            {% capture img %}{% if skill.img %} {{ skill.img }}{% endif %}  {% endcapture %}
            {% capture description %}{% if skill.description %} {{ skill.description }}{% endif %}{% endcapture %}
                <div class="grid-cell">
                    <h2 class="title">{{title}}</h2>
                    <img class="grid-cell-img" src="{{img}}" alt="{{title}}">
                    <div class="grid-cell-description">
							<p>{{description}}</p>
				</div>
				{% if skill.img-author %} <div class="photo-cred-grid"><p>Image by <a href="{{ skill.img-author-link }}">{{ skill.img-author }}</a></p></div> {% endif %}</div> 
            {% endfor %}
        </div>
    </div>

	<div class=intro-alt>
			<p>
				I also have a life... <i class="far fa-smile-wink"></i>
			</p>
			<p><i class="fas fa-arrow-down"></i></p>
	</div>

	<div class=main-section>
		<h2>Things that I love</h2>
		<hr>
		<div class=img-grid>
			{% for hobby in site.hobbies %}
			{% capture title %}{% if hobby.title %} {{ hobby.title }}{% endif %}  {% endcapture %}
			{% capture img %}{% if hobby.img %} {{ hobby.img }}{% endif %}  {% endcapture %}
			{% capture description %}{% if hobby.description %} {{ hobby.description }}{% endif %}{% endcapture %}
				<div class="grid-cell">
					<h2 class="title">{{title}}</h2>
					<img class="grid-cell-img" src="{{img}}" alt="{{title}}">
					<div class="grid-cell-description">
						<p class=>{{description}}</p>
					</div> 
				</div>
				{% if hobby.img-author %} <div class="photo-cred-grid"><p>Image by <a href="{{ hobby.img-author.link }}">{{ hobby.img-author.name }}</a></p></div> {% endif %}

			{% endfor %}
		</div>
	</div>

	<div class=intro-alt>
			<p>
				For a more extended description of myself, my intrests and my expertise, please visit.. 
			</p>
			<p><i class="fas fa-arrow-down"></i></p>
	</div>
<div style="display:flex;flex-direction:column;">
	<button onclick="window.location.href='/about/'">About Me</button>
	<button onclick="window.location.href='/projects/'">My projects</button>
	<button onclick="window.location.href='/blog/'">My blog</button>

</div>

<div class=intro-alt>
		<p>
			and you  can always find me elsewhere!
		</p>
</div>

{% include social-links.html %}

</div>
