---
layout: page
title: "Projects"
bg: '/assets/img/triangular-gridshell-outside-Andres-Flajszer.jpg'
bg-author: "Andres Flajszer"
bg-author-link: "http://www.andresflajszer.com"

description: "Check out what I've been doing lately!"

paginate:
    collection: projects
---

<div class=projects-list>
    {% assign projects = site.projects | sort: 'listing-priority' %}
    {% for project in projects reversed %}
    <div class="project">

        <img src="{{ project.bg }}" alt="{{ project.title}}">

        <div class="details">
            <a href="{{ project.url }}">{{ project.title }}</a>
            <p class=description>{{ project.description }}</p>
        </div>
        {% if project.ribbon %}<div class="ribbon"><span>{{ project.ribbon }}</span></div>{% endif %}
        
    </div>

    {% endfor %}
        
    <div id="three-div" style="text-align:center"></div>
</div>


<script src="../assets/js/three.js"></script>
<script src="../assets/js-scripts/basicScene.js"></script>