<header class="header-site" role="banner" {% if page.bg %} id="{{ page.bg | remove:'/' | downcase | remove:'.'}}" {% endif %}>

    <div class="content">
           
        <h1>
            <span class="site-title">{{site.username}}</span>
            <div id='typed-strings'>
                {% for usrTitle in site.user_title %} 
                    <p>{{ usrTitle  }}</p>
                {% endfor %}
            </div>
            
            <span class="site-description"><span id="typed"></span></span>
        </h1>
        <div class="icons-home">
            <a aria-label="Send email" href="mailto:{{site.email}}"><svg class="icon icon-email">
                    <use xlink:href="#icon-email"></use>
                </svg></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><svg class="icon icon-github-alt">
                    <use xlink:href="#icon-github-alt"></use>
                </svg></a>
        </div>
    </div>
    <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down">
            <use xlink:href="#icon-angle-down"></use>
        </svg>
    </a>
    
    {% if page.bg-author %} <div class="photo-cred"><p>Image by <a href="{{ page.bg-author-link }}">{{ page.bg-author }}</a></p></div> {% endif %}

    {% include menu-search.html %}
    
    <script src="/assets/js-scripts/typing.js" type="text/javascript"></script>

</header>
